[Unit]
Description=AkumaCollector - SNMP/API
After=network.target

[Service]
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm start
WorkingDirectory=/usr/local/AkumaCollector
User=akuma
Group=akuma
Restart=always

[Install]
WantedBy=multi-user.target
